body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Inter, sans-serif;
	background-color: #ebebeb;
}

.top-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 12px 120px;
}

.props {
	font-size: clamp(14px, 1.25vw, 20px);
	font-weight: bold;
}

.retro-button {
	background-color: #D9D9D9;
	border: 2px solid #422800;
	border-radius: 10px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	padding: 14px 24px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
  
.retro-button:hover {
	background-color: #fff;
}
  
.retro-button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

h1 {
	font-size: clamp(32px, 5vw, 64px);
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.header-group p {
	font-size: clamp(9px, 1.12vw, 16px);
	color: #828282;
	text-align: center;
}

.masked-text {
    font-size: clamp(9px, 1.12vw, 16px);
    font-weight: bold;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=1429&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
	background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 2s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.game-board {
	resize: both;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	aspect-ratio: 1 / 1;
	max-width: 500px;
	width: 80%;
	margin-bottom: 20px;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	cursor: pointer;
	border: clamp(0.5px, 1vw, 2px) solid white;
	border-radius: 10%;
	margin: 3%;
	font-size: clamp(16px, 5vw, 48px);
	font-weight: 600;
}

.cell:hover {
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transform: translateY(-2px);
}

.player1 {
	color: rgba(0, 0, 0, 1);
}

.player2 {
	color: rgba(128, 0, 128, 1);
}

@keyframes fade-loop {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}

.faded {
	animation: 1.25s fade-loop infinite ease-in-out;
}

@keyframes border-pulse {
	0% { border: 3px solid plum; }
	50% { border: 6px solid plum; }
	100% { border: 3px solid plum; }
  }
  
.winner-cell {
	animation: border-pulse 1s infinite;
}

footer {
	display: none;
}

/* phones, 600px and down */
@media only screen and (max-width: 600px) {
	body {
		min-height: 100vh;
	}

	.header-group,
	footer {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.top-navigation {
		display: none;
	}

	footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

/* laptops/desktops, 992px and up */
/* @media only screen and (min-width: 992px) {
	h1 {
		font-size: clamp(22px, 3vw, 64px);
		margin-top: 8px;
		margin-bottom: 16px;
	}

	.game-board {
		resize: both;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		aspect-ratio: 1 / 1;
		max-width: 350px;
		width: 90%;
	}
	
	.cell {
		border: clamp(0.5px, 1vw, 2px) solid white;
		font-size: clamp(16px, 2vw, 48px);
		font-weight: 600;
		margin: 3px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      	transition: all 0.2s;
	}
} */