body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: Inter;
}

.top-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 12px 120px;
}

.retro-button {
	background-color: #D9D9D9;
	border: 2px solid #422800;
	border-radius: 10px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 14px 24px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
  
.retro-button:hover {
	background-color: #fff;
}
  
.retro-button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.default-button {
	font-size: 16px;
	font-weight: 600;
	background-color: #000000;
	color: white;
	cursor: pointer;
	padding: 14px 24px;
	border: 0px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05); 
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
	text-align: center;
	text-decoration: none;
}

.props {
	font-size: 20px;
	font-size: clamp(14px, 1.25vw, 20px);
	font-weight: bold;
}

h1 {
	font-size: clamp(22px, 5vw, 64px);
	margin-top: 10px;
	margin-bottom: 18px;
}

.header-group p {
	font-size: clamp(9px, 1.12vw, 16px);
	color: #828282;
}

.game-board {
	display: grid;
	background-color: #D9D9D9;
	grid-template-columns: repeat(3, 10vw);
	grid-template-rows: repeat(3, 10vw);
	/* max-width: 600px;
	max-height: 600px; */
}

.cell {
	display: grid;
	justify-content: center;
	align-items: center;
	/* padding: 5px; */
	cursor: pointer;
	border: 2px solid white;
	font-size: 3vw;
	font-weight: 600;
}